
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat,  Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
.sticky{
    position: sticky;
    top: 0;
}
/* HEADER */
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 0 28px;
    height:66px;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
    background-color: #fff;
}
header .logo{
    display: flex;
    align-items: center;

}
.logo img{
    width: 38px;
    height: 38px;
    margin-right: 20px;
}
.logo h4{
    font-size:14px;
    font-weight: bold;
    margin: 18.62px 16px;

}
header .search-container{
    display: flex;
    align-items: center;


}
.search-container .search{
    display: flex;
    align-items: center;
    border: 2px solid #e8e8e8;
    border-radius:20px;
    width: 420px;
    height:40px;
}
.search .logo{
    height:20px;
    width:20px;
    margin: 0 10px;
}
.search .logo path{
    fill: #5f5f5f;
}
.search .logo:hover path{
    fill: #252525;
}
header .search-container .search input{
    width: 362px;
    height: 36px;
    border:none;
    outline: none;
    margin: 2px 0px;
}
header .search-container .search:focus-within{
    border: 2px solid #222;
}
header .header__right{
    display:flex;
    align-items:center;
    
}
header .header__right a{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 14px;
    height:34px;
    width: 120px;
    border-radius: 34px;
    background:#F05123;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;   
    justify-content: center;
}

header .bell-logo{
    height:18px;
    width: 15.75px;
    margin: 0px 8px ;
}
header .header__right img{
    height:28px;
    width: 28px;
    border-radius: 50%;
    margin-left: 12px;
}

.header__right a:hover{
    opacity: 0.9;
}
/* BODY */
.body {
    display:flex;
}


/* SIDEBAR */
.left-menu{
    /* position:fixed;
    top:90px;
    left:8px; */
    background:#fff;
    display: flex;
    width: 80px;
    height: 378px;
    flex-direction: column;
    padding-top: 90px;
}
.left-menu .create-btn{
    width:44px;
    height:44px;
    background: #1473E6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}
.left-menu .create-btn .plus-icon{
    width: 14px;
    height: 16px;
    transition: all 0.3s ease-in-out;

}
.create-btn:hover  .plus-icon{
    transform: scale(1.4);
}
.create-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* NAV */
nav ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
nav ul li.active{
    background-color:#e8ebed;
}
nav ul li.active:hover{
    background-color:#e8ebed;
}
nav ul li{
    /* display:flex;
    align-items:center; */
    font-size:11px;
    width:72px;
    height:72px;
    border-radius: 16px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
}
nav ul li:hover{
    background-color:#f3f3f3;
}

.home-icon, .roadmap-icon{
    width:20.5px;
    height:18px;
}
.learn-icon {
    width: 12.38px;
    height:18px;
}
.blog-icon {
    width: 18px;
    height:18px;
}
nav ul a{
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
nav ul a span{
    font-weight: 600;
    margin-top: 6px;
    color: #1A1A1A;
}
nav ul path{
    fill: #1A1A1A;
}

/* ------------------------------------------ */
/* BODY > HOME CONTENT */
.home-content{
    width: calc(100% - 80px);
    padding: 90px 40px 0px 20px;
}
.home-content .slider-container{
    width: 100%;
}
.slider-container .slider{
    width: 100%;
    position: relative;
    height: 270px;
}
.slider > button{
    position:absolute;
    top:50%;
    height: 32px;
    width: 32px;
    background-color:#fff;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    border: none;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}
.slider > button svg {
    width: 12px;
    height: 12px;
}
.slider > button:hover path{
    fill: #000;
}
.slider-container .back-btn{
    left: 0px;
    transform: translate(-50%,-50%);
}

.slider-container .foward-btn{
    right: 0px;
    transform: translate(50%,-50%);

}
.banner-gallery{
    width: 100%;
    height: 270px;

    
}
.banner-gallery li{
    display:none;
    /* display: flex; */
    height:270px;
    width: 100%;
    border-radius: 16px;
    justify-content:space-between;
}
.banner-gallery li.active{
    display:flex;
}
.banner-gallery li .banner__left-side{
    padding:45px 36px 0 36px;
    color: #fff ;
    width: 40%;
}
.banner__left-side .banner-header{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color:#fff;
}
.banner__left-side button{
    background:transparent;
    border:solid 2px #fff;
    color: #fff;
    width:136px;
    height:35px;
    border-radius:35px;
    font-weight: 700; 
    font-size: 14px;
    margin-top: 20px;
}
.banner__left-side button:hover{
    color:#000;
    background: #fff;
}
.banner__left-side .banner-description{
    line-height:1.6;
    margin:5px 0;
}

/*  */


/* style for  each detail banner*/
.banner-gallery li#banner-1{
    background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}
.banner-gallery li#banner-2{
    background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
}
.banner-gallery li#banner-3{
    background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
}
.banner-gallery li#banner-4{
    background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
}
/* slider slick */
.slick-wrapper{
    margin-top: 10px;
    padding-left: 30px;
}
.slider-container .slick-dot {
    width: 32px;
    height:8px;
    margin-right: 10px;
    background: #cdcecf;
    border-radius: 8px;
    border: none;
}
.slider-container .slick-dot.active {
    background: #9aa6af;
    width: 50px;
}



/* -------------------------------------------- */
/* home = */
.home-wapper{
    margin-top: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 74px;
    padding-left: 44px;
    padding-right: 44px;
}
.courses-wrapper{
    margin-bottom: 8px;
}
.section-heading{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 20px;
}
.section-heading-text{
    color: #242424;
    font-size: 2.4rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
}
.course-container{
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
}

.course-item{
    width:25%;
    padding:0 12px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.course-item .title{
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    width: fit-content;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
}
.view{
    color: #666;
    font-size: 0.8rem;
}
.view svg{
    overflow: visible;
    box-sizing: content-box;
    height: 1em;
    vertical-align: -0.125em;
}
.img-container{
    width: 100%;
    height: 171px;
    overflow: hidden;
    position: relative;
}
.img-container .view-post-btn{
    position:absolute;
    top: 0;
    left:  0;
    height:100% ;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.img-container img:hover + .view-post-btn{
    display: flex;
}
.view-post-btn:hover{
    display: flex;
}
.img-container button{
    background: #fff;
    position: relative;
    color: #000;
    font-weight:600;
    border: none;
    padding: 7px 10px;
    border-radius: 12px;
}
.img-container img{
    width: 100%;
    border-radius: 16px;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.scroll-body{
    display: flex;
    flex-wrap: wrap;
}
.title-video{
    font-size: 13px;
}
.document{
    font-size: 1px;
}

.title-lage{
    font-size: 25px;
    color: #000;
}
.view-all-course{
    color:#f05123;
    font-size:15px;
    font-weight:600;
    padding-right: 3px;
}
.view-all-course svg{
    width:7.5px;
}
.view-all-course:hover{
    text-decoration:underline;
}
.view-all-course:hover svg{
    transform: translateX(3px);
}
/* .img-container::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 16px;
} */



/* -------------------------------------------- */

/* FOOTER */
footer{
    background-color: #181821;
    padding:68px 0px 40px;
}
footer .footer-child__wrapper{
    width:1100px;
    margin:0 auto;
}

/* FOOTER CONTENT */
footer .footer-content{
    display:flex;
    justify-content: center;
}
.footer-content > div{
    width:25%;
    padding:0 8px;
}
.footer-content h2{
    font-size:18px;
    color:#fff;    
    margin: 15px 0px;
    font-weight:600;
}
.footer-content ul{
    margin-top: 10px;
}
.footer-content li{
    color: #A9B3BB;
    font-size:14px;
    list-style: none;
    line-height: 22px;
    font-weight: 400;
}
.footer-content Li + li{
    margin-top: 8px;
}
.footer-content li a{
    color: #A9B3BB;
}
.footer-content li a:hover{
    color: #fff;
}
.about-f8,.support{
    display: flex;
    justify-content: center;
}

/* CONTACT INFO */
.footer__logo{
    display: flex;
}
.footer__logo .logo{
    display: flex;
    align-items: center;
}
.footer__logo h2{
    margin:13.5px 0px;
    font-size:16px;
    
}
.footer__logo img{
    height:38px;
    width: 38px;
    margin-right: 10px;
}
.contact-info #dcma{
    margin-top: 20px;
}

/* FOOTER COPY RIGHT */
.footer-copyright{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.footer-copyright span{
    color: #A9B3BB;
    font-size: 14px;
    margin: 14px 0px;
}
.footer-copyright .social-network{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
.footer-copyright .social-network a {
    width: 28px;
    height: 28px;

}
.footer-copyright .social-network a + a{
    margin-left: 16px;
}
